services:
  # MySQL Database
  db:
    image: mysql:8.0
    container_name: mysql-database
    restart: always
    env_file:
      - environments/.env.development
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  # NestJS Backend
  backend:
    build:
      context: .
      target: development
      dockerfile: ./apps/backend/Dockerfile
    env_file:
      - environments/.env.development
    container_name: backend-api
    environment:
      - DB_HOST=db
    ports:
      - "3000:3000"
    depends_on:
      - db

  # ZUKUNFT: Frontend (hier vorbereitet)
  # frontend:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.frontend
  #   ports:
  #     - "4200:80"

volumes:
  mysql_data:
