// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #edb608; // #edb608
  --ion-color-primary-rgb: 255, 196, 9;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #e0ac08;
  --ion-color-primary-shade-rgb: 224, 172, 8;
  --ion-color-primary-tint: #ffcb2b;
  --ion-color-primary-tint-rgb: 255, 202, 34;
  --ion-color-primary-step-50: #fffcf3;
  --ion-color-primary-step-100: #fff9e6;
  --ion-color-primary-gradient: linear-gradient(135deg, var(--ion-color-primary) 0%, var(--ion-color-primary-tint) 100%);
  --ion-color-gradient-step-50: linear-gradient(135deg, var(--ion-background-color-step-50) 0%, var(--ion-background-color-step-50) 100%);

  --ion-color-secondary: #fbb72c;
  --ion-color-secondary-rgb: 251, 183, 44;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #dc_a1_27;
  --ion-color-secondary-tint: #fbbe41;

  --ion-space-xs: 2px;
  --ion-space-s: 4px;
  --ion-space-m: 6px;
  --ion-space-l: 8px;
  --ion-space-xl: 12px;
  --ion-space-xxl: 16px;
  --ion-space-xxxl: 24px;

  --ion-border-radius-xs: var(--ion-space-m);
  --ion-border-radius-s: var(--ion-space-l);
  --ion-border-radius-m: var(--ion-space-xl);
  --ion-border-radius-l: var(--ion-space-xxxl);
  --ion-border-radius-round: 100%;
  --ion-border-color: var(--ion-background-color-step-200);
  --ion-border-width: 2px;

  --ion-background-color: #fbf9f4;
  --ion-background-color-rgb: 251, 249, 244;

  --ion-text-color: #292929;
  --ion-text-subtile-color: var(--ion-text-color-step-100);
  --ion-text-color-rgb: 41, 41, 41;

  --ion-text-color-step-50: #343333;
  --ion-text-color-step-100: #3e3e3d;
  --ion-text-color-step-150: #494847;
  --ion-text-color-step-200: #535352;
  --ion-text-color-step-250: #5e5d5c;
  --ion-text-color-step-300: #686766;
  --ion-text-color-step-350: #737270;
  --ion-text-color-step-400: #7d7c7a;
  --ion-text-color-step-450: #888784;
  --ion-text-color-step-500: #92918f;
  --ion-text-color-step-550: #9d9b99;
  --ion-text-color-step-600: #a7a6a3;
  --ion-text-color-step-650: #b2b0ad;
  --ion-text-color-step-700: #bcbbb7;
  --ion-text-color-step-750: #c7c5c1;
  --ion-text-color-step-800: #d1cfcb;
  --ion-text-color-step-850: #dcdad6;
  --ion-text-color-step-900: #e6e4e0;
  --ion-text-color-step-950: #f1efea;

  --ion-background-color-step-50: #f1efea;
  --ion-background-color-step-100: #e6e4e0;
  --ion-background-color-step-150: #dcdad6;
  --ion-background-color-step-200: #d1cfcb;
  --ion-background-color-step-250: #c7c5c1;
  --ion-background-color-step-300: #bcbbb7;
  --ion-background-color-step-350: #b2b0ad;
  --ion-background-color-step-400: #a7a6a3;
  --ion-background-color-step-450: #9d9b99;
  --ion-background-color-step-500: #92918f;
  --ion-background-color-step-550: #888784;
  --ion-background-color-step-600: #7d7c7a;
  --ion-background-color-step-650: #737270;
  --ion-background-color-step-700: #686766;
  --ion-background-color-step-750: #5e5d5c;
  --ion-background-color-step-800: #535352;
  --ion-background-color-step-850: #494847;
  --ion-background-color-step-900: #3e3e3d;
  --ion-background-color-step-950: #343333;
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  src: url('./fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url('./fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
}

// SKELETON

.skeleton-animation {
  animation: skeleton-background-animation 1s linear infinite alternate;
}

@keyframes skeleton-background-animation {
  0% {
    background-color: var(--ion-background-color-step-100);
  }
  100% {
    background-color: var(--ion-background-color-step-50);
  }
}

// GLOBAL STYLES

body {
  font-family: 'Roboto', sans-serif;
  font-size: clamp(0.8rem, 1.5vw + 0.1rem, 1.2rem);

  .subtile {
    color: var(--ion-text-subtile-color);
  }
}

.truncate-one-line-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Page-Title */
ion-header {
  -webkit-box-shadow: none;
  box-shadow: none !important;

  &.page-title {
    text-align: center;

    h1 {
      margin-top: 2rem;
      font-size: 2.5em;
    }

    p {
      font-size: 1.2em;
    }
  }
}

/*Footer Tab Bar*/
ion-tab-bar {
  --border: 0;
  height: 90px;
  --background: var(--ion-background-color-step-50);

  ion-tab-button {
    color: var(--ion-text-color);
    --padding-end: var(--ion-space-xl);
    --ripple-color: transparent;
    font-weight: 400;

    ion-icon {
      margin-bottom: var(--ion-space-l);
      padding-top: var(--ion-space-s);
      padding-bottom: var(--ion-space-s);
      border-radius: var(--ion-border-radius-l);
      transition: all 0.1s ease-in-out;
    }

    &.tab-selected {
      ion-icon {
        background: var(--ion-color-primary-gradient);
        color: var(--ion-color-primary-contrast);
        padding-right: var(--ion-space-xxl);
        padding-left: var(--ion-space-xxl);
      }
    }
  }
}

/* Button */
ion-button {
  --border-radius: var(--ion-border-radius-m);
  text-transform: none;
  --box-shadow: none;
  transition: all 0.2s ease-in-out;

  &.button-solid {
    --background: var(--ion-color-primary-gradient);
  }

  &.button-clear::part(native) {
    --background: var(--ion-color-primary-gradient);
    background-clip: text;
  }

  &:active {
    transform: scale(0.98);
  }
}

/* FAB */
ion-fab-button {
  --border-radius: var(--ion-border-radius-m);
  --background: var(--ion-color-primary-gradient);
}

/* Segment */
ion-segment {
  background: var(--ion-background-color-step-50);
  border-radius: var(--ion-border-radius-m);

  ion-segment-button {
    --indicator-color: transparent !important;
    --background-checked: var(--ion-color-primary-gradient);
    --color-checked: var(--ion-color-primary-contrast);
    --color: var(--ion-text-color);
    --ripple-color: transparent;
    --border-radius: var(--ion-border-radius-s);
    margin: var(--ion-space-s);
    transition: all 0.2s ease-in-out;
  }
}

ion-list {
  --ion-item-background: transparent;
}

ion-item-group {
  .skeleton-item {
    border-radius: var(--ion-border-radius-xs);
    background-color: var(--ion-background-color-step-50);
    height: 6rem;
    margin-bottom: 5px;

    &:first-of-type {
      border-top-left-radius: var(--ion-border-radius-l);
      border-top-right-radius: var(--ion-border-radius-l);
    }

    &:last-of-type {
      border-bottom-left-radius: var(--ion-border-radius-l);
      border-bottom-right-radius: var(--ion-border-radius-l);
    }
  }
}

/* Item */
ion-item {
  --border-radius: var(--ion-border-radius-xs) !important;
  --background: var(--ion-background-color-step-50);
  --padding-start: 15px;
  --inner-padding-end: 25px;
  --highlight-height: 2px;
  --highlight-color-focused: var(--ion-color-primary);
  --inner-border-width: 0;
  --border-width: 0;
  margin-bottom: 5px;

  &::part(native) {
    padding-top: var(--ion-space-m);
    padding-bottom: var(--ion-space-m);
  }

  &:first-of-type {
    border-top-left-radius: var(--ion-border-radius-l);
    border-top-right-radius: var(--ion-border-radius-l);
  }

  &:last-of-type {
    border-bottom-left-radius: var(--ion-border-radius-l);
    border-bottom-right-radius: var(--ion-border-radius-l);
  }

  &.item-interactive {
    --inner-border-width: 0;
  }
}

/* Input */
ion-input {
  --padding-start: 15px;
  --inner-padding-end: 15px;
  --highlight-height: 2px;
  --highlight-color-focused: var(--ion-color-primary);
  --inner-border-width: 0;
  --border-width: 0;
  margin-bottom: 40px;

  &.input-fill-outline {
    border-radius: var(--ion-border-radius-m) !important;
    --border-radius: var(--ion-border-radius-m) !important;

    .label-text-wrapper {
      color: var(--ion-text-color) !important;
    }
  }

  &.input-fill-solid {
    border-radius: var(--ion-border-radius-m) !important;
    --border-radius: var(--ion-border-radius-m) !important;
    background-color: var(--ion-background-color-step-50);

    .label-text-wrapper {
      color: var(--ion-text-color) !important;
    }
  }

  .input-outline-container {
    background: var(--ion-background-color-step-50);
    border-radius: var(--ion-border-radius-m);
  }

  .input-bottom {
    position: absolute;
  }
}

/* Selection */
ion-select {
  --padding-start: 15px;
  --inner-padding-end: 15px;
  --highlight-height: 2px;
  --highlight-color-focused: var(--ion-color-primary);
  --inner-border-width: 0;

  &.select-fill-outline {
    border-radius: var(--ion-border-radius-m) !important;
    --border-radius: var(--ion-border-radius-m) !important;
    background-color: var(--ion-background-color-step-50);

    &::part(label) {
      color: var(--ion-text-color) !important;
    }
  }

  &.select-fill-solid {
    border-radius: var(--ion-border-radius-m) !important;
    --border-radius: var(--ion-border-radius-m) !important;
    background-color: var(--ion-background-color-step-50);

    &::part(label) {
      color: var(--ion-text-color) !important;
    }
  }
}

/* Toggle */
ion-toggle {
  padding: 12px;
  --handle-width: 20px;
  --handle-height: 20px;
  --handle-max-height: auto;
  --handle-spacing: 4px;

  contain: none;

  &::part(track) {
    height: 28px;
    width: 50px;
    background: var(--ion-color-gradient-step-50);
    overflow: visible;
    border-radius: var(--ion-border-radius-l);
    transition: all 0.2s ease-in-out;
  }

  &.toggle-checked::part(track) {
    background: var(--ion-color-primary-gradient);
  }

  &::part(handle) {
    background: var(--ion-background-color-step-400);
    border-radius: var(--ion-border-radius-round);
    height: 18px;
    width: 18px;
    box-shadow: none;
    transition: all 0.2s ease-in-out;
  }

  &.toggle-checked::part(handle) {
    background: var(--ion-background-color);
    height: 20px;
    width: 20px;
    color: var(--ion-color-primary);
  }


}

ion-header {
  box-shadow: none;

  ion-toolbar {
    --background: var(--ion-background-color);
    --border-width: 0;

    ion-title {
      font-weight: 400;
    }

    &::part(background) {
      border: none;
    }
  }

  .title {
    margin-bottom: var(--ion-space-s);
    font-size: 20px;
  }

  .subtitle {
    font-size: 15px;
    font-weight: 400;
    color: var(--ion-text-color-step-50);
    margin-top: 0;
    margin-bottom: var(--ion-space-xl);
  }

  &.header-collapse-condense {
    .title {
      margin-top: 0;
      font-size: 36px;
    }

    .subtitle {
      font-size: 18px;
    }
  }
}


ion-app.md .header-collapse-condense {
  display: block;
}


ion-checkbox {
  --border-radius: var(--ion-border-radius-s);
  --size: 22px;
  --background-checked: var(--ion-color-primary-gradient);
  --border-color-checked: var(--ion-color-primary);
}

ion-toast {
  --background: var(--ion-background-color-step-100);
  --color: var(--ion-text-color);
  --border-radius: var(--ion-border-radius-m);

  &::part(container) {
    border-radius: var(--ion-border-radius-m);
    position: relative;
  }

  &::part(container):after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &::part(icon) {
    width: 1.5rem;
    height: 1.5rem;
  }

  &.toast-success {
    &::part(icon) {
      color: var(--ion-color-success);
    }
  }

  &.toast-error {
    &::part(icon) {
      color: var(--ion-color-danger);
    }
  }

  &.toast-info {
    &::part(icon) {
      color: var(--ion-color-primary);
    }
  }
}
